.cart_container {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 1em;

  .cart_title {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .cart_table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .total_price {
    font-size: 2em;
    margin-top: 1em;
  }
  .deleteCartBtn {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: none;

    .deleteButtonSvg {
      cursor: pointer;
      width: 20px;
      height: 20px;
      fill: #ff324d;
      margin: 0 auto;
    }
  }

  .checkout_btn {
    background: #ff324d;
    width: 200px;
    margin: 0 auto;
    list-style: none;
    text-transform: none;
    margin-top: 2em;
    padding: 1em 2em;

    text-align: center;
    border: none;

    .link {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    &:hover {
      background: #d0bbbb;
    }
  }
}
